var wSocket;

$( document ).ready(function() {
    var addr = document.getElementById('node_ip').innerHTML
    var key = document.getElementById('key').innerHTML
      
   	wSocket = new WebSocket("ws://" + addr + "/node");
   		
   	wSocket.onmessage = function (event) {
	  console.log(event.data);
	  NodeResponse(event)
	}
	
	wSocket.onopen = function (event) {
		var msg = {
			    type: "message",
			    text: "test sending delete with key: " + key,
			    id:   1,
			    date: Date.now()
		    };
		wSocket.send(JSON.stringify(msg));
	}
	
});

function NodeResponse(event) {
	var msg = JSON.parse(event.data);
	document.getElementById('resultfield').innerHTML = msg.text
	wSocket.close()
}

</script>
<p id="resultfield"></p>
<p id="node_ip" style="visibility: hidden;"><%= node_addr %></p>
<p id="key" style="visibility: hidden;"><%= key %></p>