<script type="text/javascript">

function ConnectToNode() {
	var addr = document.getElementById('inputNodeAddress').value
	console.log("Addr: " + addr)
	window.location.href = "/lab4/" + addr + "/storage/";
}

</script>

<html>
    <body>
        <article class="center-block">  
			<h1><%= title %> </h1>
				<div class="form-group">
			    	<label for="inputNodeAddress">Node Address</label>
			    	<div class="row">
			  			<div class="col-lg-3">
			   				<input type="text" class="form-control" id="inputNodeAddress" placeholder="Enter node-address">
			  			</div>
			  		</div>
		  		</div>
				<button class="btn btn-large btn-primary" onclick="ConnectToNode()">Connect</button>
		</article>
	</body>
</html>