<script type="text/javascript">

function ConnectToMachine() {
	var addr = document.getElementById('inputNodeAddress').value
	console.log("Addr: " + addr)
	window.location.href = "/manage/" + addr;
}

</script>

<html>
    <body>
        <article class="center-block">  
			<h1><%= title %> </h1>
				<div class="form-group">
			    	<label for="inputNodeAddress">Dockerlistener IP:PORT</label>
			    	<div class="row">
			  			<div class="col-lg-4">
			   				<input type="text" class="form-control" id="inputNodeAddress" placeholder="Enter dockerlistener IP:PORT">
			  			</div>
			  		</div>
		  		</div>
				<button class="btn btn-large btn-primary" onclick="ConnectToMachine()">Connect</button>
		</article>
	</body>
</html>






