<script type="text/javascript">

var wSocket;

$( document ).ready(function() {
    var addr = document.getElementById('node_ip').innerHTML
      
   	wSocket = new WebSocket("ws://" + addr + "/docker");
   		
   	wSocket.onmessage = function (event) {
	  NodeResponse(event)
	}
	
	wSocket.onopen = function (event) {
		//ShowImages()
		ShowContainers()
	}
});

function ShowContainers() {   
    var msg = {
    	Action: 7,
		Date: Date.now()
    }
    wSocket.send(JSON.stringify(msg));
}

function ShowImages() {
	var msg = {
    	Action: 10,
		Date: Date.now()
    }
    wSocket.send(JSON.stringify(msg));
}

</script>

<html>
    <body>
    	<p id="node_ip" class="hidden"><%= node_addr %></p>
    	<p id="result"> </p>
	</body>
</html>